/*
Author: Mona Määttänen
Date: 2025-09-23
*/

body {
    background-color: antiquewhite;
    color: #000; 
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(0, 119, 255);
    font-size: large;
}

p {
    color: rgb(0, 119, 255);
}

ul {
    color: rgb(0, 174, 255);
    list-style-type: square;
    padding-left: 20px;
}

a {
    color: rgb(255, 0, 200);
}

h2 {
    color: rgb(140, 0, 255);
    font-size: large;
}

ol {
    color: rgb(162, 0, 255);
    list-style-type: decimal;
    padding-left: 20px;
}


