/*
Author: Mona Määttänen
Date: 2025-10-03
*/

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}


video {
  display: block;
  margin: 0 auto 20px;
  width: 100%;
  max-width: 500px;
  border: none;
  border-radius: 10px; 
}

p {
  margin-top: 20px;
}

